executor="local"

//following commands are for running on a cluster
concurrency=240
walltime="20:00:00"
queue="batch"
mem_param="mem"
memory="8"
proc_mode=1
usePollerFileWatcher=true

//add server-specific module to load
//modules=""

commands {
    fastq_dedupe {
        procs="1"
        memory="160"
    }

    trim {
        procs="8"
        memory="16"
    }

    assemble {
        procs="8"
        memory="180"
    }

    align_contigs_against_genome {
        procs="8"
        memory="32"
    }

    align_contigs_against_transcriptome {
        procs="8"
        memory="32"
    }

    create_salmon_index {
        procs="8"
        memory="16"
    }

    run_salmon {
        procs="8"
        memory="16"
    }

    create_ec_count_matrix {
        memory="64"
    }

    run_de {
        memory="16"
    }

    align_contigs_to_supertranscript {
        procs="8"
        memory="64"
    }

    make_supertranscript_reference {
        memory="16"
    }

    star_genome_gen {
        procs="8"
        memory="36"
    }

    star_align {
        procs="8"
        memory="36"
    }

    hisat_align {
        procs="8"
        memory="24"
    }

    sort_and_index_bam {
        procs="8"
        memory="36"
    }
}
