executor="torque"
concurrency=120
walltime="20:00:00"

mem_param="mem"
memory="8"
proc_mode=1
usePollerFileWatcher=true

modules="trimmomatic fastx-toolkit R/3.3.2 samtools bedtools bedops star salmon"

commands {
    dedupe {
        procs="8"
        memory="96"
    }

    SOAPassemble {
        procs="8"
        memory="128"
    }

    align_contigs_against_genome {
        procs="8"
        memory="64"
    }

    align_contigs_against_transcriptome {
        procs="8"
        memory="64"
    }

    run_salmon {
        procs="8"
        memory="8"
    }

    create_ec_count_matrix {
        procs="8"
        memory="24"
    }

    run_de {
        procs="1"
        memory="12"
    }

    align_contigs_to_supertranscript {
        procs="8"
        memory="64"
    }

    star_genome_gen {
        procs="8"
        memory="36"
    }

    star_align {
        procs="8"
        memory="36"
    }
}
