executor="torque"
concurrency=240
walltime="20:00:00"
account="bioinf"
queue="batch"
mem_param="mem"
memory="8"
proc_mode=1
usePollerFileWatcher=true

modules="trimmomatic fastx-toolkit R/3.3.2 samtools bedtools bedops star salmon"

commands {
    dedupe {
        memory="128"
    }

    SOAPassemble {
        procs="8"
        memory="128"
    }

    align_contigs_against_genome {
        procs="8"
        memory="64"
    }

    align_contigs_against_transcriptome {
        procs="8"
        memory="64"
    }

    run_salmon {
        procs="8"
        memory="16"
    }

    run_kallisto {
        procs="8"
        memory="12"
    }

    create_kallisto_ec_count_matrix {
        memory="128"
    }

    create_ec_count_matrix {
        memory="128"
    }

    run_de {
        memory="12"
    }

    align_contigs_to_supertranscript {
        procs="8"
        memory="64"
    }

    create_supertranscript_reference {
        memory="32"
    }

    star_genome_gen {
        procs="8"
        memory="36"
    }

    star_align {
        procs="8"
        memory="36"
    }

    hisat_align {
        procs="8"
        memory="24"
    }

    sort_and_index_bam {
        procs="8"
        memory="36"
    }
}
